data/
.vscode/
ignore/
outputs/*
masks/
toolbox/
sbatch_scripts/

preprocessing/slurm/
preprocessing/auto_tedana.py
preprocessing/combine_downsample_recon_mesh.py
preprocessing/download_mesh.sh
preprocessing/meshlab_simplify_brain.mlx
preprocessing/run_tedana.sh
preprocessing/sbatch_auto_tedana.sh
preprocessing/sbatch_fmriprep.sh*.tsv
preprocessing/sbatch_reconall.sh
preprocessing/upload_beh.sh

smooth.m
loso_*.csv
get_phi.m
get_phi_regionwise.m
get_nuisance_regressers_tedana.ipynb
compare_multivariateOnOffGrid_singleTrialBeta_wPhi_xSource.m
save_regionwise_phi_to_csv.m
run_distance_modulation_model.m
chech_phi_consistency_singleTrialBeta.m
get_subspec_theta_csv.m
get_phi_singleTrialBeta_old.m
get_phi_singleTrialBeta_mds.m
compare_multivariateOnOffGrid_singleTrialBeta_wPhi_control_mds.m
compare_multivariateOnOffGrid_singleTrialBeta_wPhi_xSource.m
compare_multivariateOnOffGrid_singleTrialBeta_wPhi_old.m
compare_multivariateOnOffGrid_singleTrialBeta_wPhi_searchlight_old.m
compare_multivariateOnOffGrid_singleTrialBeta_wPhi_mds.m
compare_multivariateOnOffGrid_singleTrialBeta_wPhi_distance_old.m
compare_multivariateOnOffGrid_singleTrialBeta_wPhi_control_old.m

compare_aphc_distance2.R
compare_aphc_distance.R
beh_consistency_stats_euVA.R
beh_consistency_stats_cateDist.R
beh_consistency_stats_cateDist2.R
beh_consistency_stats_cateDistMax.R
beh_consistency_stats_brain_test.R